// custom color
$menuLinksColor: #F5F5DC;
$mainBgColor: #ffeeff;






// info
.info {
  background: $mainBgColor;
}
.infoHeader {
  position: relative; 
  width: 100%;
  height: 50vh;
  background-image: url('/img/newInfoBanner/newInfoBanner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;
  background-position: 50% 35.5%;
  margin-bottom: 50px;
}
.infoHeader::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, $mainBgColor, transparent);
  z-index: 998;
}

.infoHeader img {
  position: absolute;
  top: -53%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
